body {
     text-align: center;
   }
   div {
     display: inline-block;
     margin-top: 190px;
   }
   h1 {
     color: blue;
     font-size: 40px;
     font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
   }
   button {
     display: inline-block;
     height: 65px;
     background-color: rgb(0, 0, 0);
     color: white;
     font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
     font-size: 30px;
     padding: 10px 20px;
   }
   button:hover {
     background-color: rgb(53, 53, 55);
   }